<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939166619520-maf2h1e2nc8asfgq2koqmbcrvuqe3mj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939166619520-maf2h1e2nc8asfgq2koqmbcrvuqe3mj2</string>
	<key>API_KEY</key>
	<string>AIzaSyCSTOUk0IDSq8GfmQJvkfzMvVjcI_MnkSc</string>
	<key>GCM_SENDER_ID</key>
	<string>939166619520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test3</string>
	<key>PROJECT_ID</key>
	<string>pr-9faf1</string>
	<key>STORAGE_BUCKET</key>
	<string>pr-9faf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939166619520:ios:e5c17b41defb73b9ec1365</string>
</dict>
</plist>